body{
    color: white;
    background-color: black;
    margin:  0, 10;
    font-family: 'lobster',cursive;

}
.wrapper{
    font-weight: bold;
    text-decoration: none;
    text-transform: capitalize;

}
div ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}
div ul li a{
    display: block;
    border: 1px solid;
    border-radius: .5em;
    text-decoration: none;
    padding: .5em 1em;
    margin: .5em;
    color: brown;
    
}
.right{
    text-transform: uppercase;
    text-decoration: none;
    color: brown;
}
span{
    color: azure;
}
img{


    transform: skewx(15deg);
}
img:hover, img:focus{
    transform: scale(1.5) rotate(-5deg) translate(50px, 30px);
}
main{
    margin: 120;
    text-align: center;
}
strong{
    text-transform: uppercase;
}
h2{
    text-transform: uppercase;
}