html{
    font-size: 100%;
}

body{
    background-color: #fff;
    font-family:'montserrat',sans-serif;
    line-height: 1.5;
    font-size: 18px;
    font-weight:375;
   margin: 8px;
   background-color:normal;
   background-image: url( /Image/logo.png);
   background-repeat: repeat-x;
   display: block;

  }
  .wrapper{
max-width: 2500px;
margin: 0 auto; 
text-align: center;
font-weight: bold;
 }
 .logo{
    width: 60px;;
    margin-top:  10px;
    margin: 12px;
    z-index: index none;

 }
header{
    display:flex;
    justify-content: space-between;
    align-items: center;
    height: -15em;
}
.secondary-cta{
font-weight: bold;

}
h2{
    text-transform: uppercase;
}
span{
    color: white;
    text-decoration:none;
    list-style-type: none;
    display: flex;
    font-weight: bold;
}
.secondary-cta{
    font-weight: bold;
    display: flex;
    gap: 1px;
    justify-self: unset;
}
nav ul{
    list-style-type:none;
    display: flex;
    gap: 4.2em;
    margin: 1;
}
nav ul li a{
    text-decoration: none;
    text-shadow: #57d157;
    font-size: 1.1rem;
    color: bisque;

}
a{
    text-decoration: none;
}
main{
    margin: 250px;
    font-size: largers;
    font-style: normal;
    font-family:sans-serif;
}
.primary-cta{
    display: flex;
    max-width: 100%;
    height: auto;
    text-decoration: none;
    

}

#main{
    text-transform: uppercase;
    font-size:medium;
    color:black;
    font-weight:bolder;
    background-color:royalblue;
    border-radius: 1.2em;
    padding: 1em 2em;
    color: blue;
    background-color: aqua;
    transition-property: 'background-color';
    transition-duration: 0.3s;
    transition-timing-function: ease-out, ease-in, ease-out;
    
}
#main:hover, #main:focus{
    background-color: gray;
}
footer{
    border-top: 1px solid black;
    text-align: center;
    padding-top: 2em;
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    background-color: skyblue;
}

li a{
    display: block;
    width: 40px;


}

    

@media screen and (min-width: 800px) {
    h1{
        font-family: 'lobster',cursive;
    }
    h2{
        font-family: georgia, serif;
    }
    main{
        line-height: 1.8em;
        padding: 1em;
        border-radius: 25px;
        border: double 4px black;
        margin: 2.5%;
        grid-area: main;
        width: '1px';
        
       
        

    }
    h2{
        font-weight: bold;
    }
    header{
        grid-area: banner;
   

    }
    img{
        max-width: 100%;
    }
    nav ul li{
        flex:block; }
        nav ul{
            justify-content: center;
        }
footer{
    grid-area: footer;
    
}
footer img{
    width: 60px;;
    margin-top:  10px;
    margin: 12px;
    z-index: index none;

}
 footer li a{
    display:flex;
    width: 40px;
    height: 40px;
   
    text-decoration: none;
    text-align: center;
    justify-content: space-between;
    color: black;
    margin: 1em 2em;
    width: 6em;
    font-weight: bold;
    color: blue;
    
    transition-property: 'background-color';
    transition-duration: 0.3s;
    transition-timing-function: ease-out, ease-in, ease-out;
    
    

}
.contain{
    display: flex;
    text-decoration: none;
    text-transform: uppercase;
}
li a.twitter{
    background-position: 0 0;
}
li a.collection{
    background-position: 0 -40px;
}
    }
